<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csulb.cookie.mapper.FrostingFlavorMapper">

    <resultMap id="BaseResultMap" type="com.csulb.cookie.domain.FrostingFlavor">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="mId" column="m_id" jdbcType="INTEGER"/>
            <result property="fFlavor" column="f_flavor" jdbcType="VARCHAR"/>
            <result property="fFlavorPrice" column="f_flavor_price" jdbcType="DOUBLE"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,m_id,f_flavor,
        f_flavor_price
    </sql>
</mapper>
