<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com/csulb/cookie.mapper.OrderMapper">

    <resultMap id="BaseResultMap" type="com/csulb/cookie.domain.Order">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="customerId" column="customer_id" jdbcType="INTEGER"/>
            <result property="merchantId" column="merchant_id" jdbcType="INTEGER"/>
            <result property="placedDate" column="placed_date" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="pickupDate" column="pickup_date" jdbcType="VARCHAR"/>
            <result property="subtotal" column="subtotal" jdbcType="DOUBLE"/>
            <result property="tab" column="tab" jdbcType="DOUBLE"/>
            <result property="total" column="total" jdbcType="DOUBLE"/>
            <result property="note" column="note" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,customer_id,merchant_id,
        placed_date,status,pickup_date,
        subtotal,tab,total,
        note
    </sql>
</mapper>
